.wiki-page {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.content {
  display: flex;
  border-bottom: 0px;
}

.sidebar {
  width: 20%;
  padding-top: 20px;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.main-content {
  padding: 20px;
  flex: 1;
}

/* Custom CSS to style accordion button */
.accordion-button:not(.collapsed) {
  background-color: #f8f9fa; /* Change background color when accordion button is clicked */
  color: #000; /* Change text color when accordion button is clicked */
}
.accordion-button {
  background-color: #f8f9fa; /* Change background color */
  color: #000; /* Change text color */
}

p {
  line-height: 1.5;
  margin-top: 10px;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.logo-container {
  flex-grow: 0;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.main-menu {
  margin-right: 20px;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu li {
  display: inline-block;
  margin-right: 15px;
}

.search-bar {
  flex-grow: 1;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.user-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu li {
  margin-left: 10px;
}

.accordion {
  border-radius: 0px;
  --bs-border-width: 0px;
  padding: 0px;
}

.accordion-body {
  padding: 0px;
}

.accordion-header {
  padding: 0px;
  border-bottom: 1px solid #dee2e6;
}

.accordion-button {
  font-size: 1.5rem;
  padding-left: 0px;
}
