/* Base Styles */
.wiki-page {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 1000px;
}





/* Sidebar Styles */
.content {
  display: flex;
  border-bottom: 0;
}



/* Remove Underline from Links Rendered with dangerouslySetInnerHTML */
.main-content a {
  text-decoration: none;
}

/* Main Content Styles */
.main-content {
  padding: 20px;
  flex: 1;
  margin-bottom: 100vh;
}

/* Accordion Styles */
.accordion {
  border-radius: 0;
  --bs-border-width: 0;
  padding: 0;
}



/* Fixed Font Sizes for Titles */
h1 {
  font-size: 48px; /* Fixed font size */
  font-family: "Times New Roman", Times, serif;
  padding: none;
}

h2 {
  font-size: 30px; /* Fixed font size */
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}







.map-header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background-color: #fff;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;

  margin-left: auto;
  margin-right: auto;
}